body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4a90e2, #d2a6e8);
    font-family: 'Arial', sans-serif;
}

.quote-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border: 5px solid #4a90e2;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    position: relative;
}
.footer {
    background-color: #fdd835; /* Yellow background */
    color: #333;
    padding: 10px;
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
    margin-top: 20px; /* Space above the footer */
}

.export-box {
    text-align: center;
    background-image: url("bg.jpeg");
    border: 5px solid #4a90e2;
    border-radius: 15px;
    padding: 30px;
   
}

.export-box .footer {
    background-color: #fdd835; /* Yellow background */
    color: #333;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    margin-top: 20px;
}

#quote {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}
#export-quote {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

#author {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #357ABD;
    transform: scale(1.05);
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 15px;
    right: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
